# log
*.log

# app/models

# app/controllers

.user.ini
.phalcon
.idea

!/public/icon/default.png

# public
/public/*
!**/public/index.php
!**/public/.htaccess
!.gitkeep


vendor/

.svn
composer.lock
*.bak